html, body {
  background-color: white;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

h2 {
  color: blue;
  text-align: center;
  font-size: 2em;
}

p {
  color: blue;
  text-align: center;
  padding: 10px;
  font-size: 1em;
  line-height: 1.6;
  margin: 0 auto;
  max-width: 90%;
}